.footer {
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  margin-top: auto;
  background: rgba(239, 234, 225, 0.2);
  border: 0.1rem solid #efeae1;
}
